extends neumorphLayout
block inner-content
    h1.fs-1.mt-2.mb-3  GUARD SSO - Admin
    include errorWarning
    p.fs-5 Du überschreibst das Passwort für
        span  #{username}
        | .
    p.fs-5 Beachte, dass sich Nutzer nach dem Ändern des Passworts mit dem neuen Passwort anmelden müssen.
    form.mb-3(method='post' action='')
        label.fs-5.form-label(for="password") Neues Passwort
        input.fs-5.form-control.mb-3#password(placeholder="Neues Passwort", type="password", name="password", value="")
        input.fs-5.form-control.mb-3#passwordRepeat(placeholder="Passwort wiederholen", type="password", name="passwordRepeat", value="")
        a.btn.btn.btn-outline-secondary.mt-2.mx-2.fs-5(href="/admin") Zurück
        button.btn.btn-primary.mt-2.mx-2.fs-5#btn(type="submit") Passwort setzen
