extends layout
block append css
    link(rel='stylesheet', href='/sheets/neumorph.css')
block content
    .align-self-center.neumorph.px-5.py-4
        h1.fs-1.mt-2.mb-3  GUARD SSO - Admin
        include errorWarning
        p Du überschreibst das Passwort für
            span  #{username}
            | .
        p Beachte, dass sich Nutzer nach dem Ändern des Passworts mit dem neuen Passwort anmelden müssen.
        form.mb-3(method='post' action='')
            label.form-label(for="password") Neues Passwort
            input.form-control.mb-3#password(placeholder="Neues Passwort", type="password", name="password", value="")
            input.form-control.mb-3#passwordRepeat(placeholder="Passwort wiederholen", type="password", name="passwordRepeat", value="")
            a.btn.btn.btn-outline-secondary.mt-2.mx-2(href="/admin") Zurück
            button.btn.btn-primary.mt-2.mx-2#btn(type="submit") Passwort setzen
