extends neumorphLayout
block inner-content
    h1.fs-1.mt-2.mb-3  GUARD SSO
    include errorWarning
    p.fs-5 Du bist angemeldet als
        span.fs-5  #{username}
        | .
    p.fs-5 Beachte, das du dich nach dem Ändern deines Passworts mit dem neuen Passwort anmelden musst.
    form.mb-3(method='post' action='/passwordchange')
        label.fs-5.form-label(for="oldPassword") Altes Passwort
        input.fs-5.form-control.mb-3#oldPassword(placeholder="Altes Passwort", type="password", name="oldPassword", value="")
        label.fs-5.form-label(for="password") Neues Passwort
        input.fs-5.form-control.mb-3#password(placeholder="Neues Passwort", type="password", name="password", value=password)
        input.fs-5.form-control.mb-3#passwordRepeat(placeholder="Passwort wiederholen", type="password", name="passwordRepeat", value=password)
        a.fs-5.btn.btn.btn-outline-secondary.mt-2.mx-2(href="/") Zurück
        button.fs-5.btn.btn-primary.mt-2.mx-2#btn(type="submit") Ändern