extends layout
block append css
    link(rel='stylesheet', href='/sheets/neumorph.css')
block content
    .align-self-center.neumorph.px-5.py-4
        h1.fs-1.mt-2.mb-3 GUARD SSO
        include errorWarning
        a.btn.btn-primary.m-1(href="displaynamechange") Anzeigename ändern
        a.btn.btn-primary.m-1(href="usernamechange") Nutzername ändern
        a.btn.btn-primary.m-1(href="passwordchange") Passwort ändern
        a.btn.btn-primary.m-1(href="passkeymanage") Passkeys verwalten
        br
        a.btn.btn-outline-secondary.m-1#logoutButton(href="logout") Abmelden