extends neumorphLayout
block inner-content
    h1.fs-1.mt-2 GUARD SS
        .spinner-border.fs-5
        .alert.alert-danger(hidden)#alert
            #alert-text
        span
        |
        span.fs-2.text-danger #{error}
        p.fs-5 #{message}