extends neumorphLayout

block inner-content
  h1.fs-1.mt-2.mb-3 Einladung löschen
  p Möchtest du die Einladung wirklich löschen?
  form(method="post" action=`/admin/invite/delete/${invite.id}`)
    button.btn.btn-danger(type="submit") Einladung löschen
    a.btn.btn-secondary(href="/admin") Abbrechen
