extends layout
block append css
    link(rel='stylesheet', href='/sheets/neumorph.css')
block content
    .align-self-center.neumorph.px-5.py-4
        h1.fs-1.mt-2.mb-3 GUARD SSO
        include errorWarning
        if hostname != null
            p Du meldest dich bei
                |
                |
                span.text-decoration-underline #{hostname}
                |  an.
        form.mb-3(method="post")
            input.form-control.mb-3#username(name="username" placeholder="Nutzername", type="text")
            input.form-control.mb-3#password(name="password" placeholder="Passwort", type="password")
            a.btn.btn-outline-secondary.m-1#registerButton(href="register"+registerSuffix) Registrieren
            button.btn.btn-primary.m-1#loginButton(type="submit") Anmelden
        .mb-3
            hr
            p.text-center.text-muted oder
            button.btn.btn-success.w-100.mb-2#passkeyLoginButton(type="button") 
                svg.bi.bi-fingerprint.me-2(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                    path(d="M8.06 6.5a.5.5 0 0 1 .5.5v.776a11.5 11.5 0 0 1-.552 3.519l-.803 2.365a.25.25 0 0 1-.472 0l-.803-2.365A11.5 11.5 0 0 1 5.5 7.276V7a.5.5 0 0 1 1 0v.776a10.5 10.5 0 0 0 .504 3.251l.4 1.18.4-1.18A10.5 10.5 0 0 0 8.06 7.776V7z")
                    path(d="M6.25 9.037V9a.75.75 0 1 1 1.5 0v.037a1.75 1.75 0 0 1-.532 1.25l-.781.781a.25.25 0 0 1-.354 0l-.781-.781A1.75 1.75 0 0 1 6.25 9.037z")
                    path(d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5 2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zM3 4a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.5H3V4z")
                | Mit Passkey anmelden
                //|
                //|
                //svg.bi.bi-key(xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16")
                //    path(d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z")
