extends neumorphLayout
block append scripts 
    script(src='/webauthn/index.umd.min.js')
block append postbodyscripts
    script(src='/scripts/passkeyValidate.js')
block inner-content
    h1.fs-1.mt-2.mb-3 GUARD SSO
    include errorWarning
    if hostname != null
        p.fs-5 Du meldest dich bei
            |
            |
            span.text-decoration-underline.fs-5 #{hostname}
            |  an.
    form.mb-3(method="post")
        input.form-control.fs-5.mb-3#username(name="username" placeholder="Nutzername", type="text", size="30" autofocus value=username)
        input.form-control.fs-5.mb-3#password(name="password" placeholder="Passwort", type="password", size="30")
        if register_enabled
            a.btn.btn-outline-secondary.fs-5.m-1#registerButton(href="register"+registerSuffix) Registrieren
            button.btn.btn-primary.fs-5.m-1#loginButton(type="submit") Anmelden
        else
            button.btn.btn-primary.fs-5.w-100#loginButton(type="submit") Anmelden
    .mb-3#passkeyHideBlock
        p.text-center.text-muted.mb-3.fs-5 oder
        button.btn.btn-success.w-100.fs-5.mb-2#btnBegin(type="button") Mit Passkey anmelden
    .mt-3
        span#success.fs-5.text-success
        span#error.fs-5.text-danger