extends layout
block append scripts
    script(src='/scripts/login.js' defer)
block append css
    link(rel='stylesheet', href='/sheets/neumorph.css')
block content
    .align-self-center.neumorph.px-5.pt-5.pb-4
        h1.fs-1.mb-3  GUARD SSO
        .alert.alert-danger(hidden)#alert
            #alert-text
        form.mb-3
            input.form-control.mb-3#username(placeholder="Nutzername", type="text")
            input.form-control.mb-3#password(placeholder="Passwort", type="password")
            button.btn.btn-primary#loginButton(type="button") Anmelden
        a.btn.btn-sm.btn-outline-secondary.mb-2#registerButton(href="register") Registrieren