extends neumorphLayout
block inner-content
    h1.fs-1.mt-2.mb-3  GUARD SSO
    include errorWarning
    p Du wurdest
        span.text-success  erfolgreich
        |  abgemeldet.
    a.btn.btn-sm.btn-outline-secondary.mb-2#registerButton(href="login") Zurück zum Login