extends layout
block append css
    link(rel='stylesheet', href='/sheets/neumorph.css')
block append scripts 
    script(src='/webauthn/index.umd.min.js')
block content
    .align-self-center.neumorph.px-5.py-4
        h1.fs-1.mt-2.mb-3 Passkeys verwalten
        include errorWarning
        h4 Ihre Passkeys
        .passkey-list#passkeyList
            if typeof passkeys === 'undefined' || !passkeys
                .alert.alert-warning Keine Passkeys gefunden.
            else
                p passkeys json
                p= passkeys
                each passkey in passkeys
                    .card.mb-3
                        .card-body
                        .row.align-items-center
                            .col-8
                            h6.mb-1 #{passkey.device}
                            small.text-muted Erstellt am #{passkey.createdAt}
                            .col-4.text-end
                            a.btn.btn-outline-danger.btn-sm.remove-passkey(href=`/passkeyRemove?id=${passkey.id}`)
                                svg.bi.bi-trash.me-1(xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16")
                                path(d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z")
                                path(d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z")
                                | Entfernen

        .mb-4
            a.btn.btn-success.mb-3#addPasskeyButton(href="/passkeyAdd")
                svg.bi.bi-plus-circle.me-2(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                    path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                    path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z")
                | Neuen Passkey hinzufügen
        .mt-4
            a.btn.btn-outline-secondary(href="/") Zurück zum Dashboard
