extends neumorphLayout
block append scripts 
    script(src='/webauthn/index.umd.min.js')
block append postbodyscripts
    script(src='/scripts/passkeyAdd.js')
block inner-content
    h1.fs-1.mt-2.mb-3 Passkey hinzufügen
    include errorWarning
        
    #success.mt-3
    #error.mt-3

    form.mb-3(method="post" action="/passkeyAdd")
        .text-center.mb-4.fs-5
            button.btn.btn-success.fs-5.btn-lg#btnBegin(type="button") Passkey erstellen

    .mt-4
        a.fs-5.btn.btn-outline-secondary(href="/passkeymanage") Zurück
