extends layout
block append css
    link(rel='stylesheet', href='/sheets/neumorph.css')
block append scripts 
    script(src='/webauthn/index.umd.min.js')
block append postbodyscripts
    script(src='/scripts/passkeyAdd.js')
block content
    .align-self-center.neumorph.px-5.py-4
        h1.fs-1.mt-2.mb-3 Passkey hinzufügen
        include errorWarning
        
        #success.mt-3
        #error.mt-3

        form.mb-3(method="post" action="/passkeyAdd")
            .mb-3
                label.form-label(for="passkeyName") Name für den Passkey
                input.form-control#passkeyName(name="passkeyName" type="text" placeholder="z.B. 'Mein Laptop' oder 'iPhone'" required)
                .form-text Geben Sie einen Namen ein, um diesen Passkey später zu identifizieren.

            .text-center.mb-4
                button.btn.btn-success.btn-lg#btnBegin(type="button") Passkey erstellen


        .mt-4
            a.btn.btn-outline-secondary(href="/passkeymanage") Zurück zur Übersicht
            a.btn.btn-outline-secondary.ms-2(href="/") Zum Dashboard
